<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  https://go.microsoft.com/fwlink/?LinkId=169433
-->
<configuration>

  <connectionStrings>
    <add name="ConnString" connectionString="Data Source=DESKTOP-O8JLFL3\PDSQL2008;Initial Catalog=Lucks;uid=sa;pwd=97" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
    <!--测试号-->
    <add key="AppId" value="wxe946c5e12443b842" />
    <add key="AppSecret" value="d4624c36b6795d1d99dcf0547af5443d" />
    <!--网络熊，没有标签接口权限，我X-->
    <!--<add key="AppId" value="wxf815d41cff6bf3e6" />-->
    <!--<add key="AppSecret" value="8ce0ea64575b22b3076467f75571d5af" />-->

    <add key="Token" value="test"/>
    <add key="EncodingAESKey" value=""/>
    <!--AccessToken，动态更新-->
    <add key="AccessToken" value=""/>
    <add key="ExpiresIn" value=""/>
  </appSettings>
  
  
  
  
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.5.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.5.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
</configuration>